<!DOCTYPE html>
<html>
  <head>
    <title>Music App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      Music App
    </header>
    <div>
      <% if !current_user.nil? %>
        <ul class="login">
          <li>Logged in as: <%= current_user.email %></li>
          <li>
            <form action="<%= session_url %>" method="post">
              <input type="hidden" name="authenticity_token" value="<%=       form_authenticity_token %>">
              <input type="hidden" value="delete" name="_method" />
              <input type="submit" value="Sign out"/>
            </form>
          </li>
        </ul>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
